/* View Styles */
.ms-promo-1 {
	background: #ededed;
	color: #6c6c6c;
}
.ms-promo-1 .ms-slide:after {
	content: "";
	/*background: rgba(0,0,0,.3);*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ms-promo-1 .ms-thumb-frame:before {
	content: "";
	/*background: rgba(60,70,70,.65);*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ms-promo-1 .ms-thumb-frame {
	opacity: 1;
	position: relative;
}


.ms-promo-1 .ms-thumb-frame-selected:before{
	position: absolute;
	content: '';
	/*background: rgba(60,70,70,.92);*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0; 
}
.ms-promo-1 .ms-thumb-frame-selected:after {
	content: "";
	display: block;
	background: #d30e0e;
	height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0; 
}

.ms-promo-1 .ms-anim-layers {
	position: relative;
   /* margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;*/ margin:0 auto; 
  padding: 0 20px;
}


@media (min-width: 768px) {
  .ms-promo-1 .ms-anim-layers {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .ms-promo-1 .ms-anim-layers {
    width: 970px;
  }
}*/
@media (min-width: 1200px) {
  .ms-promo-1 .ms-anim-layers {
    width: 1170px;
  }
}

/* Travel Font Styles */
.ms-promo-travel-price {
	text-transform: uppercase;
	display: inline-block;
	background: #ededed;
	font-size: 16px !important;
	font-weight: 700;
	padding: 20px !important;
	border-radius:2px; 
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	line-height: 0 !important;
}
.ms-promo-travel-price strong {
	color: #d40e0e;
}
.ms-promo-travel-place {
	display: block;
	color: #fff;
	font-size: 72px !important;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'montserrat';
	letter-spacing: -0.06em;
	line-height: 1 !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding: 10px 0 !important;
}

.ms-promo-travel-place-h4 {
	display: block;
	font-size: 21px !important;
	font-weight: 700;
	line-height: 1.5 !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.ms-promo-travel-description {
	display: block;
	max-width: 550px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 0 !important;
}
.ms-promo-travel-description p {
	line-height: 1.5 !important;
	font-size: 13px;
	color: #fff;
}


.ms-promo-travel-description a.btn {
	background: #d30e0e !important;
    border: 1px solid #d30e0e;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	margin-top: 20px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding: 10px;
	text-transform: uppercase;

}



.ms-promo-travel-description a.btn:hover {
	background: #000 !important;
	border-color:#000 !important;
	color: #fff !important;
}


.ms-promo-travel-description a.btn span {
	font-weight: 800;
	font-size: 16px;
	vertical-align: middle;
}

@media (max-width: 1024px) {

}



@media (max-width: 991px) {
.ms-promo-travel-price {font-size: 13px !important; line-height: 1.5 !important; padding: 5px !important;}
.ms-promo-travel-place-h4 {font-size: 15px !important; line-height: 1.5 !important; }

.ms-promo-travel-description p {font-size: 11px;}
}


@media (max-width: 767px) {
.ms-promo-travel-price {display: block; text-align: center;}
.ms-promo-travel-place { font-size: 50px !important; text-align: center; padding: 10px 0 3px !important;}
.ms-promo-travel-place-h4 { text-align: center;}
.ms-promo-travel-description {text-align: center; max-width:80%; margin:20px auto 0 !important; }
}


@media (max-width: 600px) {
.ms-promo-travel-place { font-size: 40px !important;}
}

@media (max-width: 500px) {
.ms-promo-travel-place { font-size: 30px !important;}
}


.slide_img img{max-width:100%; width:auto !important; height: auto !important; }

.ms-slide h3 h4{text-align:center; }